<%= link_to "Back", public_path(params[:id])  %>
<br />
<br />
<br />
<% if can? :add, @assignment %><%= link_to("Add a new assignment", {:action => 'new', :id=>params[:id], :subj_id =>params[:subj_id]}) %><br/><br/> <% end%> &nbsp;&nbsp;
<%# @user.first_name%>
<% @subject.each do |sub| %>
<h1 align ="center"><%= sub.name.upcase %></h1>
<%end %>
  <%# params[:id].upcase %>
<% @assignment.each do |assign| %>
<table align="center">

	<tr>
<th> Title </th>
<td>
<%= assign.title %> </td></tr>
 <tr>
<th> Body </th>
<td>
<%= assign.body %> </td>
</tr>

<th> Assigned </th>
<td>
<%= assign.created_at %> </td>
</tr>
<tr>
<th> Deadline </th>
<td> <%= assign.deadline %> </td>
</tr>

<tr>
<th> Marks assigned </th>
<td> <%= assign.marks %> </td>
</tr>
<% @time= assign.deadline.to_s %>
<tr>
<td > 
	<%# link_to "Upload Assignment", assignment_edit_path(subject.id,@sa) %>
<% if Time.now.to_s(:db) < assign.deadline.to_s %>
	<%= link_to "Upload Assignment", {:controller =>'assignment_edits', :action => 'new', :id => params[:id], :subj_id => params[:subj_id], :as_id=> assign.id} %>
<% else %>
<%= "Deadline met!" %>
<% end %>
 </td>
	 	 <td >

&nbsp; <% if can? :add, @assignment %> <%= link_to("View submitted assignments", {:controller => 'assignment_edits', :action => 'view', :subj_id=>params[:subj_id], :id=>assign.id, :name => params[:id]}) %> <% end %> </td>
</tr>
<tr>
	<td colspan=2>

</tr>
</table>


<% end %>

