<div class="subject list">
 <%= link_to "Back to list", {:controller => 'access', :action => 'menu'} %>

  <h2>Admin Users</h2>
  
 <%= link_to("Add New Admin", {:action =>'new'})  %>
<br />
  <table class="listing" summary="Subject list">
    <tr class="header">
      <th>&nbsp;</th>
      <th>Username</th>
       <th>Email</th>
      
    </tr>
      <% @admin_users.each do |admin_user| %>
    <tr>
      <td><%= admin_user.username %></td>
      <td><%= admin_user.email %></td>
      
      <td class="actions">
       <%= link_to 'Show', admin_user_path(admin_user) %>  
       <%= link_to 'Edit', edit_admin_user_path(admin_user) %>  
      <%= link_to "Delete", admin_user_path(admin_user), method: :delete, data: { confirm: 'Are you sure?'} %> 

      </td>
    </tr>
    <% end %>
  </table>
</div>
