
<h1 align="center">
 <%= link_to 'Sem1', public_path(1)  %><br><br>
 <%= link_to 'Sem2', public_path(2)  %><br><br>
 <%= link_to 'Sem3', public_path(3)  %><br><br>
 <%= link_to 'Sem4', public_path(4)  %><br><br>
 <%= link_to 'Sem5', public_path(5)  %><br><br>
 <%= link_to 'Sem6', public_path(6)  %><br><br>
 <%= link_to 'Sem7', public_path(7)  %><br><br>
 <%= link_to 'Sem8', public_path(8)  %>	<br><br>
        </h1>

       